<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>Adminlogin</servlet-name>
<servlet-class>com.data.Adminlogin</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>Adminlogin</servlet-name>
<url-pattern>/Adminlogin</url-pattern>



</servlet-mapping>
<servlet>
<servlet-name>Changepass</servlet-name>
<servlet-class>com.data.Changepass</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>Changepass</servlet-name>
<url-pattern>/Changepass</url-pattern>



</servlet-mapping>


<servlet>
<servlet-name>Monitor</servlet-name>
<servlet-class>com.data.Monitor</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>Monitor</servlet-name>
<url-pattern>/Monitor</url-pattern>



</servlet-mapping>


<servlet>
<servlet-name>Changepasstoll</servlet-name>
<servlet-class>com.data.Changepasstoll</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>Changepasstoll</servlet-name>
<url-pattern>/Changepasstoll</url-pattern>



</servlet-mapping>


<servlet>
<servlet-name>TollPayment</servlet-name>
<servlet-class>com.data.TollPayment</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>TollPayment</servlet-name>
<url-pattern>/TollPayment</url-pattern>



</servlet-mapping>


<servlet>
<servlet-name>TransactionDetails</servlet-name>
<servlet-class>com.data.TransactionDetails</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>TransactionDetails</servlet-name>
<url-pattern>/TransactionDetails</url-pattern>



</servlet-mapping>

<servlet>
<servlet-name>TransactionDetailstwo</servlet-name>
<servlet-class>com.data.TransactionDetailstwo</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>TransactionDetailstwo</servlet-name>
<url-pattern>/TransactionDetailstwo</url-pattern>



</servlet-mapping>

<servlet>
<servlet-name>FetchRecords</servlet-name>
<servlet-class>com.data.FetchRecords</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>FetchRecords</servlet-name>
<url-pattern>/FetchRecords</url-pattern>



</servlet-mapping>


</web-app>